
header {
    color: #ffffff;
    padding: 5px;
    background: rgb(8,0,152);
    background: linear-gradient(90deg, rgba(8,0,152,1) 0%, rgba(84,9,121,1) 50%);
}

main {
    display: flex;
}

button {
    border-radius: 5px;
}

.history-btn {
    color: #FFFFFF;
    background-color: #5f9ea0;
}

/* Note that the order of the next two selectors is INTENTIONAL */

*[id*="for"], div.col p {
    color: #ffffff;
}

*[id*="weather-"], div.headline p  {
    color: #000000;
}

div.row div.col {
    background-color: #2f4f4f;
    margin: 5px;
}

#weather-current-uv {
    border-radius: 5px;
}

#weather-current-uv.good {
    color: #ffffff;
    background-color: #008000;
}

#weather-current-uv.warning {
    color: #000000;
    background-color: #ffff00;
}

#weather-current-uv.danger {
    color: #ffffff;
    background-color: #ff0000;
}